{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<h1>Password Change page</h1>
<form method="post" action="" class="w-50 m-auto" novalidate>
  <!-- {{form|crispy}} -->
{% csrf_token %}
{% if form.non_field_errors %}
{% for error in  form.non_field_errors%}
<p class="bg-danger text-white p-3">{{error}}</p>
{% endfor %}
{% endif %}
{% for i in form %}
{{i.label_tag}} {{i}}
  {{i.errors|striptags}} {% endfor %}
  <button class="btn btn-primary" type="submit">LogIn</button>
</form>
{% endblock content %}
